/*Customization of Navbar*/
.navbar {
    background-color: #F5F5F5;
    color: #212121;
    border-radius: 0;
    border: 0;
}

    .navbar .navbar-nav > li > a {
        color: #212121;
    }

    .navbar .navbar-nav > .active > a {
        color: #212121;
        background-color: transparent;
    }

        .navbar .navbar-nav > li > a:hover,
        .navbar .navbar-nav > li > a:focus,
        .navbar .navbar-nav > .active > a:hover,
        .navbar .navbar-nav > .active > a:focus,
        .navbar .navbar-nav > .open > a {
            text-decoration: none;
            background-color: #E0E0E0;
        }

    .navbar .navbar-brand {
        color: #212121;
        font-size: 1.5em;
    }

        .navbar .navbar-brand span {
            font-family: 'Roboto';
        }

#resume {
    border-left: 3px solid #DB5461;
    background-color: #ffe0df;
}

    #resume > a {
        color: #DB5461;
    }

        #resume > a > i {
            font-size: 1.3em;
            margin: 0 5px 0 0;
        }

.language > a {
    height: 50px !important;
}

    .language > a > span {
        font-size: 1.3em;
    }

.language > button:hover {
    background-color: rgba(1,1,1,0);
    color: #FF6663 !important;
}

.language > button:active, .open .dropdown-toggle, button:focus {
    color: #FF6663 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff !important;
}

.language > .dropdown-menu > li > a > span {
    margin: 0 5px;
}

.language > .dropdown-menu {
    margin: 0;
    border-top-left-radius: 0;
    border: 0;
    box-shadow: none;
}
/******/